# Install Python linters
flake8==3.8.4
pep8-naming==0.11.1
# Install Python formatter
black==20.8b1
isort==5.7.0
rope==0.18.0
# Install testing dependencies
pytest==6.2.2
pytest-cov==2.11.1
pytest-dependency==0.5.1
pytest-asyncio==0.14.0
# Install deployment dependencies
ipython==7.21.0
python-dotenv==0.15.0